@import url(https://fonts.googleapis.com/css?family=Montserrat);

.card-body {
    box-shadow: 5px 5px #888888;
    border-radius: 5px;
}

body {
    background-color: azure;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #474b4f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 1s ease;

}

.btn:hover {
    background-color: #333;
    transform: scale(1.05);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}