@import url(https://fonts.googleapis.com/css?family=Montserrat);

.card-body {
    box-shadow: 5px 5px #888888;
    border-radius: 5px;
}

body {
    background-color: azure;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #474b4f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 1s ease;

}

.btn:hover {

    background-color: transparent;
    box-shadow: none;
    color: darken(white, 10%);
}

.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid darken(darkblue, 10%);
    transition: opacity 0.3s, border 0.3s;
}