.card-body {
    box-shadow: 5px 5px #888888;
    border-radius: 5px;
}

.btn  { 
    
    background-color: #007BFF; 
    border: none;
    color: white; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease;

}

.btn:hover {

    background-color: #e2cba1;
}

   